@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  color: rgba(0, 0, 0, 0.87);
  background-image: linear-gradient(to top, #218386, #35d6db);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1 {
  font-size: 3.2em;
}

#app {
  text-align: center;
}
